{% extends "base.html" %}

{% block header %}
<h1 class="mt-4">Группа {{ group.num }}</h1>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Группы</li>
    <li class="breadcrumb-item active">{{ group.num }}</li>
</ol>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-body">
                    <table class="datatable-table stripe">
                        <tr>
                            <th>ID</th>
                            <td>{{ group.id }}</td>
                        </tr>
                        <tr>
                            <th>Номер</th>
                            <td>{{ group.num }}</td>
                        </tr>
                        <tr>
                            <th>Номер курса</th>
                            <td>{{ group.course.num }}</td>
                        </tr>
                        <tr>
                            <th>Название факультета</th>
                            <td>{{ group.course.faculty.name }}</td>
                        </tr>
                        <tr>
                            <th>Номер факультета</th>
                            <td>{{ group.course.faculty.num }}</td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-4"><a class="btn btn-primary" href="{{ url_for('group_edit', group_id=group.id) }}">Редактировать</a></div>
                        <div class="col-md-4"><a class="btn btn-secondary" href="{{ url_for('groups') }}">Отменить</a></div>
<!--                        <div class="col-md-4"><button class="btn btn-secondary" type="button" onclick="history.back()">Отменить</button></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
