{% extends "base.html" %}

{% block js %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('#mainTable').DataTable({
                ajax: '/api/teachers/',
                dataSrc: '',
<!--                processing: true,-->
<!--                serverSide: true,-->
                columns: [
                    { data: 'id', width: 100,
                    render: function ( data, type, row) {
                        return '<a href="/teacher/' + data + '">' + data + '</a>';
                      }
                    },
                    { data: 'first_name' },
                    { data: 'middle_name' },
                    { data: 'last_name' },
                ],
                language: {
                    info: 'Страница _PAGE_ из _PAGES_',
                    infoEmpty: 'Нет данных',
                    infoFiltered: '(отфильтровано из _MAX_ записей)',
                    lengthMenu: '_MENU_ записей на странице',
                    zeroRecords: 'Нет данных',
                    search: 'Поиск'
                }
            });
        })
    </script>
{% endblock %}

{% block header %}
<h1 class="mt-4">Преподаватели</h1>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Преподаватели</li>
</ol>
{% endblock %}

{% block content %}

<div class="card mb-4">
<!--    <div class="card-header">-->
<!--        <i class="fas fa-table me-1"></i>-->
<!--        DataTable Example-->
<!--    </div>-->
    <div class="card-body">
        <table id="mainTable" class="datatable-table stripe">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Фамилия</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Фамилия</th>
                </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}